h1 {
    color: #422484;
    font-size: 30px;
}
h3 {
	text-align: end;
}
.content {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
}
#color {
	color: darkblue;
}
#align {
	text-align: center;
}
.container {
    background-color: #D8C7F7;
    padding: 10px;
	border-radius: 20px;
}
