html {
	font-family: 'Shippori Mincho', serif;
	padding-left: 5px;
	padding-right: 5px;
}
* {
	margin: 0;
	padding: 0;
}
h1 {
    color: darkslateblue;
    font-size: 30px;
}
header {
	background-image: url("../images/background.jpg");
}

h3 {
	text-align: end;
	color: darkslategray;
}
.carousel {
      width: 600px;
      }
p {
	padding: 10px;
	margin: 10px;
}
img {
	width: 360px;
	text-align: center;
}
.container {
    background-color: lavender;
    padding: 10px;
	margin: 10px;
	border: 5px dotted black;
}
ul {
	margin: 20px;
}
#footer {
	color:darkblue;
}
button {
	color: black;
	align-content: center;
}
.card {
	width: 14rem;
}
img{
	height: 360px;
}
.jumbotron {
	background-color: darkslateblue;
	color: white;
}
.display-4 {
	color: white;
}